* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
    scroll-behavior: smooth;
}

html,body {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    background-color:#f1ebde;
}

* {cursor: url('liv-cursor-1.png'), default;}


/********************** HEADER **********************/

.header-mobile, .content-mobile, .nav, .container-mobile, .credit-mob, .btn-mob, .footer-mobile {
    display: none;
}

.head1 {
    position: fixed;
    padding: 20px 0px 20px 20px;
    width: 48%;
    display: block;
    font-family: "Fivo Reg", sans-serif;
    font-size: 50px;
    font-weight: 100;
    text-transform: uppercase;
    z-index: 100;
}

.head1 a {
    text-decoration: none;
    color: #C47949;
    transition: .8s ease;
}

.head1 a:hover {
    color: #d8cab2;
    transition: 1.5s ease;
}

.content {
    width: 50%;
    float: right;
    display: block;
    margin-left: 50%;
    padding: 30px 20px 0px 0px;
    font-family: "NB akademie Reg", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #C47949;
    z-index: 3;
    position:absolute;
scroll-snap-align: start;
}

#about, .contact {
    text-decoration: ;
    font-family: "NB akademie Bold", sans-serif;
    padding-bottom: 15px;
    pointer-events: none;
    float: left;
    width: 17%;
}

.description1 {
    padding-bottom: 50px;
    pointer-events:none;
    float: left;
    width: 70%;
}

.description2 {
    padding-bottom: 50px;
    float: left;
    width: 70%;
}

.description2 a {
    text-decoration: none;
    color: #C47949;
    transition: .8s ease;
}

.description2 a:hover{
    color: #d8cab2;
    transition: 1.5s ease;
    cursor: url('liv-pointer.png'), pointer;
}

.number {
    pointer-events: none;
}

::selection {
  background: transparent;
}

/********************** CONTAINER **********************/

.container {
    width: 100%;
    height: 100vh;
    display: block;
    margin-top: 0px;
    background-color:;
        overflow:scroll;
        scroll-snap-type: mandatory;
        scroll-snap-points-y: repeat(100vh);
        scroll-snap-type: y mandatory;
        scroll-snap-align: start;
    position: relative;
}


/********************** IMAGE 1 **********************/


.wrapper1 {
    width: 100%;
    height: auto;
    margin-top: 260px;
    display: inherit;
    position: relative;
scroll-snap-align: start;
    z-index: 9;
}

.img1 {
    width: 50%;
    float: right;
}

.overlay1 {
    width: 50%;
    float: right;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translate(50%, -0%);
    opacity: 0;
    transition: 2s;
}

.overlay1:hover {
    opacity: 1;
    transition: 1.2s;
    visibility: visible;
}


/********************** IMAGE 2 **********************/

.wrapper2 {
    width: 100%;
    display: inline-block;
    position: relative;
    z-index: 9;
background-color:#f1ebde;
scroll-snap-align: start;
  
}

.img2 {
    width: 50%;
    float: left;
}

.overlay2 {
    width: 50%;
    float: left;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translate(-100%, 0%);
    opacity: 0;
    transition: 2s;
}

.overlay2:hover {
    opacity: 1;
    transition: 1.2s;
}



/********************** IMAGE 3 **********************/

.wrapper3 {
    width: 100%;
    display: inline-block;
    position: relative;
    z-index: 9;
scroll-snap-align: start;
}

.img3 {
    width: 50%;
    float: right;
}

.overlay3 {
    width: 50%;
    float: right;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translate(100%, 0%);
    opacity: 0;
    transition: 2s;
}

.overlay3:hover {
    opacity: 1;
    transition: 1.2s;
}


/********************** IMAGE 4 **********************/

.wrapper4 {
    width: 100%;
    display: inline-block;
    position: relative;
    z-index: 9;
    background-color:;
scroll-snap-align: start;
}

.img4 {
    width: 50%;
    float: left;
}

.overlay4 {
    width: 50%;
    float: left;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translate(-100%, 0%);
    opacity: 0;
    transition: 2s;
}

.overlay4:hover {
    opacity: 1;
    transition: 1.2s;
}



/********************** IMAGE 5 **********************/

.wrapper5 {
    width: 100%;
    display: inline-block;
    position: relative;
    z-index: 9;
scroll-snap-align: start;
}


.img5 {
    width: 50%;
    float: right;
}

.overlay5 {
    width: 50%;
    float: right;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translate(100%, 0%);
    opacity: 0;
    transition: 2s;
}

.overlay5:hover {
    opacity: 1;
    transition: 1.2s;
}



/********************** IMAGE 6 **********************/

.wrapper6 {
    width: 100%;
    display: inline-block;
    position: relative;
    z-index: 9;
    margin-bottom: 10px;
scroll-snap-align: start;
}


.img6 {
    width: 50%;
    float: left;
}

.overlay6 {
    width: 50%;
    float: left;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translate(-100%, 0%);
    opacity: 0;
    transition: 2s;
}

.overlay6:hover {
    opacity: 1;
    transition: 1.2s;
}



/********************** CREDITS **********************/
.credit {
    position: relative;
    display: block;
    z-index: 9;
    font-family: "NB Akademie Reg", sans-serif;
    font-size: 12px;
    color: #C47949;
    padding: 20px 20px 20px 20px;
    width: 500px;
    float: left;
  scroll-snap-align: start;
}

.credit a{
    text-decoration: none;
    color: #C47949;
    font-family: "NB Akademie Bold", sans-serif;
    font-weight: 600;
}

.credit a:hover{
    color: #d8cab2;
    cursor: url('liv-pointer.png'), pointer;
    transition: .7s ease;
}


/********************** FOOTER **********************/

.footer {
    position:fixed;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding: 20px 20px 15px 20px;
    color: #C47949;
    z-index: 9;
    float: right; 
    width: 500px;
    height: 50px;
}

.btn {
    float: right; 
    width: 13%;
    height: 40%;
    padding: 8px;
    font-family: "NB Akademie Bold", sans-serif;
    font-size: 17px;   
    text-transform: uppercase;
    text-align: center;
    border: 1.5px solid;
    border-radius: 50%;
    scroll-behavior: smooth;
}

.btn a{
    color: #C47949;
    text-decoration: none;
    scroll-behavior: smooth;
}

.btn a:hover {
    cursor: url('liv-pointer.png'), pointer;
}

/********FONT FACE********/

@font-face {
  font-family: 'Fivo Reg';
  src: url('./fonts/FivoSansModern-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Fivo Bold';
  src: url(fonts/FivoSansModern-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'NB Akademie Reg';
  src: url(fonts/nb_akademie_std_regular.ttf) format('truetype');
}

@font-face {
  font-family: 'NB Akademie Med';
  src: url(fonts/nb_akademie_std_medium.ttf) format('truetype');
}

@font-face {
  font-family: 'NB Akademie Bold';
  src: url(fonts/nb_akademie_std_bold.ttf) format('truetype');
}