@media screen and (max-width: 850px) {
    
    
html {
    scroll-behavior: smooth;
}

html,body {
    height: 100%;
}
    
/********************** HEADER **********************/

.head1 {
    font-size: 48px; 
    width: 100%;
    height: auto;
}
    
    .head2 {
        width:92%;
        float: left;
        padding: 20px;
        font-size: 15.5px;
        top: 100px;
        margin-left: 0px;
    }
    
/********************** IMAGES **********************/
    .container {
        display: none;
    }
    
    .container-mobile {
        display: inline-block;
        position: relative;
        z-index: 9;
        margin-top: 415px;
        background-color: #f1ebde;
        padding-top: 40px;
    }

    .photo1, .photo2, .photo3, .photo4 {
        width: 85%;
        padding-bottom: 20px;

    }
    
/********************** FOOTER **********************/
    
.footer {
    padding: 20px 20px 15px 20px;
    height: 20px;
    width: 92%;
    background-color: #f1ebde;
    position: relative;
    bottom: 0;
    float: left;
}

.credit, .btn {
    display: none;
}

.credit-mob {
    display: block;
    font-family: "NB Akademie Reg", sans-serif;
    font-size: 11.5px;
    padding-top: 5px;
    width: 62%;
    float: left;
    }
    
    .credit-mob a {
        text-decoration: none;
        color: #C47949;
        font-family: "NB Akademie Bold", sans-serif;
    }
    
    .btn-mob {
        display: block;
        font-family: "NB Akademie Bold", sans-serif;
        padding-bottom: 8px;
        float: right;
    }
    
    .btn-mob a {
        text-transform: uppercase;
        text-decoration: none;
        color: #C47949;
    }
    
    .btn-mob a:hover {
        text-decoration: underline;

    }