@media screen and (max-width: 850px) {
    
    
html {
    scroll-behavior: smooth;
}

html,body {
    height: 100%;
}
    
/********************** HEADER **********************/

.head1, .container, .credit, .btn {
    display: none;
}
    
.header-wrapper {
    display: relative;
    position: fixed;
    width: 100%;
    height: 78px;
    background-color:;
}
    
.header-mobile {
    display: block;
    padding: 20px 20px 20px 20px;
    z-index: 100;
    position: fixed;
    font-family: "Fivo Reg", sans-serif;
    font-size: 35px;
    font-weight: 100;
    text-transform: uppercase;
    }
    
.header-mobile a {
    color: #C47949;  
    text-decoration: none;
}
    
.nav {
    width: 91.5%;
    height: auto;
    display: block;
    float: right;
    padding: 20px 20px 20px 20px;
    position: fixed;
    display: block;
    z-index: 100;
    }


.nav a {
    text-decoration: underline;
    color: #C47949;
}

    
    .about-nav {
        font-family: "NB akademie Reg", sans-serif;
        font-size: 25px;
        color: #C47949; 
        float: right;
    }
    
    .contact-nav {
        font-family: "NB akademie Reg", sans-serif;
        font-size: 20px;
        color: #C47949; 
        float: right;
    }
    

/********************** IMAGES **********************/

.container-mobile {
        display:inline-block;
        width: 100%;
        margin-top: 0;
        padding-top: 140px;
        background-color: #f1ebde;
        z-index: 0;
        overflow: scroll;
    scroll-behavior: smooth;
    }
    
    .image-wrapper {
        height: 100%;
        overflow: scroll;
        padding-bottom: 20px;
    scroll-behavior: smooth;
    }

.photo1, .photo2, .photo3, .photo4, .photo5, .photo6 {
        width: 87%;
        padding: 20px;
    scroll-behavior: smooth;
}
    
    
    
    
    
/********************** ABOUT SECTION **********************/

.content-mobile {
    display: block;
    position: relative;
    width:92%;
    float: left;
    margin-top: 10px;
    padding: 5px 20px 50px 20px;
    font-size: 15.5px;
    top: 0px;
    font-family: "NB akademie Reg", sans-serif;
    font-size: 15px;
    line-height: 19px;
    color: #C47949;
    }
    
#about-mobile {
    float: left;
    width: 20%;
    font-family: "NB akademie Bold", sans-serif;
    }
    
#contact-mobile {
    float: left;
    width: 20%;
    padding-top: 30px;
    font-family: "NB akademie Bold", sans-serif;
}
    
.description1-mobile {
    width:80%;
    float: inherit;
    }
    
.description2-mobile {
    width:80%;
    float: inherit;
    padding-top: 30px;
}
    
.description2-mobile a {
    text-decoration: none;
    color: #C47949;
}
    
    
/********************** FOOTER **********************/
    
.footer-mobile {
    padding: 20px 20px 20px 20px;
    height: 20px;
    width: 92%;
    display: block;
    background-color: #f1ebde;
    position: relative;
    bottom: 0;
    float:left;
    border-top: 0px solid;
    z-index: 100;
}

.credit-mob {
    display: block;
    font-family: 'NB Akademie Reg', sans-serif;
    font-size: 11.5px;
    line-height: 16px;
    padding-left:91px;
    width: 48%;
    float: left;
    color: #C47949;

    }
    
    .credit-mob a {
        text-decoration: none;
        color: #C47949;
        font-family: 'NB Akademie Bold', sans-serif;
    }
    
    .credit-mob a:hover {
        color: #d8cab2;
        cursor: pointer;
    }
    
    .btn-mob {
        display: block;
        width: 14%;
        height: 85%;
        font-family: 'NB Akademie Bold', sans-serif;
        font-size: 14px;
        letter-spacing: 0.5px;
        text-align: center;
        padding: 8px;
        float: right;
        border: 1.5px solid;
        border-radius: 50%;
        color: #C47949;

    }
    
    .btn-mob a {
        text-transform: uppercase;
        text-decoration: none;
        color: #C47949;
    }
    
    .btn-mob a:hover {
        cursor: url('liv-pointer.png'), pointer;
    }