@media screen and (max-width: 850px) {
    
    
html {
    scroll-behavior: smooth;
}

html,body {
    height: 100%;
}
    
/********************** HEADER **********************/
    
    .wrapper1, .wrapper2, .wrapper3, .wrapper4, .wrapper5, .wrapper6 {
        display: none;
    }
    
    .credit {
        display: none;
    }
    
    .head1 {
        font-size: 42px;
    }
    
    .container{
        width: 100%;
        height: 
        float: right;
        position: absolute;
        z-index: 10;
    }
    
    #about, .contact {
        font-size: 15px;
    }
    
    
    .description1, .description2 {
        width: 100%;
        font-size: 15px;
    }
    
    
    .container-mobile {
        display: block;
        position: absolute;
        bottom: 20;
        top: 380px;
        z-index: 70;
        background-color: #f1ebde;
    }
    
    
    #box1, .box2, .box3, .box4, .box5 {
        padding-bottom: 15px;
    }
    
    
    .footer-mobile {
        display: block;
        padding: 60px 20px 20px 20px;
        height: 30px;
        position: absolute;
        z-index: 90;
    }
    
    .credit-mob {
        display: block;
        font-family: "NB Akademie Reg", sans-serif;
        font-size: 12px;
        color: #C47949;
    }
    
    .credit-mob a{
        color: #C47949;
        text-decoration: none;
        font-family: "NB Akademie Bold", sans-serif;
    }
    
    .credit-mob a:hover {
        color: #d8cab2;
        cursor: pointer;
    }
    
    .btn-mob {
        position: fixed;
    }


    
    